.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  /* выше установили ограничения для секции */
  position: relative;
  background: #F2F2F2;
  overflow: hidden;
}
