.muting {
  opacity: 1;
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  /* I know the scale property isn't necessary, just want to added to my project*/
}

.muting:hover {
  opacity: .6;
  transform: scale(1.05);
}

