.footer__column-links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__column-links:last-child {
  padding: 0 0 16px;
}
